.Wrapper {
  // main wrapper component for header element

  // background is going to be a darkened Site specific image
  background: gray;

  // Component is going to have a full screen splash header with a scroll indicator at the bottom
  // scroll indicator will scroll 100% of screen on click
  width: 100%;
  height: 100vh;
}

.scrollIndicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3vh;
  background: white;
  position: absolute;
  bottom: 0;
}

.ScrollIcon {
  background-color: red;
  width: 3rem;
  height: 100%;
}

.NavBar {
  background-color: transparent;
  height: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.navList {
  // top level navigation element
  padding: 1rem 2rem;
  height: 100%;
  display: flex;
  flex-basis: auto;
  list-style-type: none;
}

.navLink {
  // Link wrapper navigation element
  width: 6rem;
  background-color: transparent;
  border-radius: 1rem;
  margin: 0 1rem;
  & .active {
    background-color: whitesmoke;
  }
}

.navListItem {
  // list item for nav menu, contains the ul list item
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .NavBar {
    display: none;
  }
}
