@import "_def.scss";

.Wrapper {
  // main wrapper component for header element
  // background is going to be a darkened Site specific image
  //  -> background is being handled in the Typescript code on js

  background-size: cover;

  // Component is going to have a full screen splash header with a scroll indicator at the bottom
  // scroll indicator will scroll 100% of screen on click
  width: 100%;
  height: 30vh;
}

.scrollIndicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3vh;
  position: absolute;
  bottom: 0;
}

.ScrollIcon {
  background-color: red;
  width: 3vh;
  height: 100%;
}

.NavBar {
  background-color: transparent;
  height: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.navList {
  // top level navigation element
  padding: 1rem 2rem;
  height: 100%;
  display: flex;
  flex-basis: auto;
  list-style-type: none;
}

.navLink {
  // Link wrapper navigation element
  width: fit-content;
  background-color: transparent;
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 0.5rem  1rem;

  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: black;
}

.activeNav {
  color: black;
  background-color: whitesmoke;
}

.navListItem {
  // list item for nav menu, contains the ul list item
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .NavBar {
    display: none;
  }
}
